.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* shared style */
.text-primary {
    color: #FD6E0A;
}

.secondary-bg {
    background-color: #FFF8F3;
}

.dark-2 {
    color: #474747;
}

.btn {
    background-color: #FD6E0A;
    font-size: 20px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
}

.text-center {
    text-align: center;
}

/* header styles */
.header {
    background-image: url("../images/developer.png"), url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    margin: 30px 70px 0 20px, auto;
}

/* nav style */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}

nav ul li {
    list-style: none;
    margin-right: 50px;
}

nav ul a {
    text-decoration: none;
}

nav ul {
    display: flex;
    align-items: center;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

/* banner */
.banner {
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}

.banner-content {
    max-width: 585px;
}

.banner-greetings {
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 0;
}

.banner-title {
    font-size: 85px;
    color: #181818;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}

.banner-profile-picture {
    height: 670px;
    width: 580px;
}

/* main styles */
main {
    max-width: 1140px;
    margin: 0 auto;
}

main section {
    margin-top: 130px;
    margin-bottom: 130px;
}

/* about me styles */
.about {
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;

}

.section-title {
    font-size: 45px;
    font-weight: bold;
    color: #181818;
    margin-top: 0;
}

.section-description {
    font-size: 18px;
    color: #757575;
}

.about-items {
    display: flex;
    justify-content: space-around;
}

.item-title {
    font-size: 20px;
    color: #757575;
    margin-bottom: 0;
}

.item-description {
    font-size: 20px;
    font-weight: bold;
    color: #474747;
    margin-top: 0;
}

.about-middle {

    background-color: #FFFFFF;
    padding: 5px;
    border: 1px solid #1E1E1E;
    border-radius: 5px;
}

/* what I do section styles */
.skill-item {
    height: 280px;
    width: 260px;
    background-color: #FFFFFF;
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skill-items {
    display: flex;
    justify-content: space-around;
    gap: 24px;

}

.skill-item-title {
    font-size: 20px;
    font-weight: bold;
    color: #181818;
}

.skill-item-description {
    font-size: 16px;

}

.section-des {
    padding: 10px 170px 10px 170px;
}

/* resume section styles */
.resume-container {
    display: flex;
    gap: 24px;
}

.experience-description,
.experience-subtitle {
    color: #757575;
}

.experience-subtitle {
    font-size: 20px;
    font-weight: 500;
}

.experience-title {
    font-size: 25px;
    font-weight: bold;
    color: #474747;
}

.resume-column-title {
    font-size: 30px;
    font-weight: bold;
    color: #474747;
}

.resume-download-btn {
    margin-top: 30px;
}

footer {
    padding: 130px 230px;
    display: flex;
    gap: 100px;
}

.footer-column {
    width: 50%;
}

footer input[type="text"],
footer input[type="email"],
footer textarea {
    height: 64px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
}